@model GalaxyStorm.ViewModels.Fleet.FleetViewModel

@{
    ViewBag.Title = "Fleet stuff";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Fleet <small>Overview</small>
        </h2>
    </div>
</div>

<div class="well">
     @{ Html.RenderPartial("_FleetPartial"); }
</div>