#hexGrid {
    width: 90%;
}

@media (min-width: 1401px) {/* <- 6-5  hexagons per row */
    .hex {
        width: 15.83%; /* = (100-5) / 6 */
        padding-bottom: 18.5%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(11n+7),
    .hex:nth-child(11n+8),
    .hex:nth-child(11n+9),
    .hex:nth-child(11n+11),
    .hex:nth-child(11n+10) {
        margin-top: -4.3%;
        margin-bottom: -4.3%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(11n+7):last-child,
    .hex:nth-child(11n+8):last-child,
    .hex:nth-child(11n+9):last-child,
    .hex:nth-child(11n+11):last-child,
    .hex:nth-child(11n+10):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(11n+7) {
        margin-left: 0.7% !important;
        clear: left;
    }
    .hex:nth-child(11n+12) {
        clear: left;
    }

    .hex:nth-child(11n+1),
    .hex:nth-child(11n+2),
    .hex:nth-child(11n+3),
    .hex:nth-child(11n+4),
    .hex:nth-child(11n+5),
    .hex:nth-child(11n+6) {
        margin-left: 0.4%;
        margin-right: 0.40%
    }

    .hex:nth-child(11n+7),
    .hex:nth-child(11n+8),
    .hex:nth-child(11n+9),
    .hex:nth-child(11n+10),
    .hex:nth-child(11n+11) {
        margin-left: 0.4%;
        margin-right: 0.40%
    }
}

.hex h1 {
    font-size: 0.8em;
}

.hex h1:after {
    border-bottom: 0;
}

.hex p {
    padding-bottom: 54%;
}

.hex h1, .hex p {
    background-color: #008080;
    background-color: rgba(0, 128, 128, 0.2);
}