@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<div class="well">
    <div>
        <ul id="hexGrid">
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    @*<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>*@
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
        </ul>
    </div>
</div>