@{
    ViewBag.Title = "Boom - Bad Request";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<br />
<div class="well text-center">
    <h1>Stop tryna explode the shard, or planet... or whatever bad deeds you were up to.</h1>
</div>
