@{
    ViewBag.Title = "Page lost - Not Found";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="well text-center">
    <h1>You navigated to a page that does not exist, probably never existed. Or will never exist. Perhaps it got sucked in by a black hole. Fly Away ASAP !??</h1>
</div>