<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li><a href="/"><i class="ion-planet size-18"> </i> Planet <b class="caret"></b></a></li>
        <li><a href="/"><i class="ion-jet size-18"> </i> Fleet</a></li>
        <li><a href="/"><i class="ion-ios-ionic-outline size-18"> </i> Shard</a></li>
    }

    @if (Request.IsAuthenticated && User.IsInRole("Admiral"))
    {
        <li><a href="/AdmiralsQuarters/Home"><i class="ion-settings size-18"> </i> Admiral</a></li>
    }

    <li><a href="/"><i class="ion-ios-information-empty size-18"> </i> Info</a></li>
</ul>