@model GalaxyStorm.ViewModels.Buildings.BuildingsViewModel

@{
    ViewBag.Title = "Buildings Overview";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Buildings <small>Overview</small>
        </h2>
    </div>
</div>

<div class="well">
    @{ Html.RenderPartial("_BuildingsPartial", Model); }
</div>