/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 120px !important;
    padding-bottom: 20px !important;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

span.glyphicon, i.glyphicon {
}

.size-18 {
    font-size: 18px;
}

.size-28 {
    font-size: 28px;
}