/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 120px !important;
    padding-bottom: 20px !important;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

span.glyphicon, i.glyphicon {
}

.size-18 {
    font-size: 18px;
}

.size-28 {
    font-size: 28px;
}

.border-right-sharp {
    border-color: #222 transparent transparent #222;
    border-style: solid;
    border-width: 38px 23px 17px 22px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -2px;
    right: -15%;
}

.border-left-sharp {
    border-color: #222 #222 transparent transparent;
    border-style: solid;
    border-width: 38px 23px 17px 22px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -2px;
    right: 100%;
}
