@model GalaxyStorm.ViewModels.Technologies.TechnologiesViewModel

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @Model.ArmoredFleet.Name <small>Level @Model.ArmoredFleet.Level</small>
        </h2>
    </div>
</div>