@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Planet Overview <small>Statistics overview</small></h2>
    </div>
</div>

<div class="well">
    <h4>Resources</h4>
    <hr/>
    <div class="row">
        
    </div>
    <br />
    <h4>Buildings</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="text-center">
                        <a href="/#">Headquarters</a> - <small>Level 3</small>
                    </h6>
                </div>
                <div class="panel-body">
                    <img src="C:\Users\Pete\Desktop\MVC Course Work\buildings-PNGs\300xX\headquarters.png" alt="Alternate Text" width="300"/>
                    <hr/>
                    <p class="text-center">Ready in: 24.5 minutes</p>
                    <p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h4>Technologies</h4>
    <hr/>
    <div class="row">
        
    </div>
    <br/>
    <h4>Fleet</h4>
    <hr/>
    <div class="row">
        
    </div>
</div>