@{
    Layout = null;
}

@model GalaxyStorm.ViewModels.Common.ResourcesViewModel

<button class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="+150/h">
    <i class="ion-ios-sunny-outline size-18"> </i> @Model.Energy
</button>
<button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="+150/h">
    <i class="ion-ios-flower-outline size-18"> </i> @Model.Crystal
</button>
<button class="btn btn-primary" data="bs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="+150/h">
    <i class="ion-ios-cog-outline size-18"> </i> @Model.Metal
</button>